footer {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: rgb(81, 75, 35);
    text-align: center;
    padding: 30px 0px 10px 0px;
}

.git-profile, .git-project, .host-link {
    color: rgb(81, 75, 35);
}

.git-profile:hover, .git-project:hover, .host-link:hover {
     color: rgba(29, 29, 27, 0.4);
}

.git-profile:visited, .git-project:visited, .host-link:visited {
       color: rgba(27, 29, 27, 0.4);
}

.git-profile:active, .git-project:active, .host-link:active {
       color: rgba(29, 29, 27, 0.4);
}